@import "~bulma";

.media-page-header-gradient {
  background: linear-gradient(0deg, #FFFFFF 20%, #000000 20%);
}

.front-page-header-gradient {
  background: url('../../public/graphics/background.png') no-repeat;
  background-position: center bottom;
  background-size: 90%;
}

@media screen and (max-width:400px) {
  .front-page-header-gradient { background-size: 500px; /* fixed width under 700px */ }
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}